<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS3QyTm-2jwSRYIXtBJJI12_QUA3KtGm4</string>
	<key>GCM_SENDER_ID</key>
	<string>12712519681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niestierov.MentalDiary</string>
	<key>PROJECT_ID</key>
	<string>mentaldiary-655dc</string>
	<key>STORAGE_BUCKET</key>
	<string>mentaldiary-655dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12712519681:ios:63a831fbe0f1d6f1acb800</string>
</dict>
</plist>